
/*Polices*/
@font-face {
  font-family : 'yellowtail' ;
  src : url('polices/yellowtail/Yellowtail-Regular.ttf') ;
  font-weight : normal ;
  font-style : normal ;
}

@font-face {
  font-family : 'glacial' ;
  src : url('polices/glacial/GlacialIndifference-Regular.otf') ;
  font-weight : normal ;
  font-style : normal ;
}

li {
  list-style: none;
}

body {
  background-color : #8f0000 ;
  color : white ;
  font-family: 'glacial' ;
  text-align: center ;
  
  /*Logo*/
  background-image: url(icons/logo.png) ;
  background-position: 99.8% 99.8% ;
  background-attachment: fixed ;
  background-repeat: no-repeat ;
  background-size: 5vw ;
}


/*Titres*/
h1, h2 {
  font-family: 'yellowtail' ;
  user-select: none;
  /*margin-top: 8% ;
  margin-bottom: 8% ;*/
}
h1 {
  font-size: 5vw ;
  text-align: center ;
  transform: rotate(350deg);
  text-shadow: 2px 2px 5px black ;
}
.titreAccueil { /**/
  font-size: 9vw ;
  margin-top: 10% ;
}
h2 {
  font-size: 2vw ;
}


/*Textes*/
p, ul{
  font-size: auto ;
}



/*Pages d'accueil*/
.pagehome input, .pageintro input{
  width: 50% ;
}


/*Formulaires*/
input {
  background-color: #8f0000 ;
  box-shadow: 2px 2px 5px black ;
  color: white ;
  font-family: 'glacial' ;
  font-size: 3vw ;
  text-align: center ;
  border : grey;
  border-radius : 1em;
  
  display: block ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1% ;
}
input[type=text], input[type=email], input[type=password] {
  background-color: white ;
  color: black ;
  width: 40% ;
}
.formSub input[type=submit], input[value='Modifier'], input[value='Rechercher'], input[value='Valider'], input[value='Start'] {
  padding-left : 20px ;
  padding-right: 20px ;
}
.aligneForm input{
  display: inline-block ;
}


/*Amis*/
.alignement a, .alignement form {  
  display: inline-block;
}
.alignement, .alignement a, .alignement form {
  vertical-align: middle ;
}
.alignement button img{
  width: 3vw ;
  height: 3vw ;
  margin-left: 50% ;
  background-color: none ;
}
.alignement {
  font-size: 2vw ;
}


/*Création de partie*/
.alignement input, .alignement button {
  display: inline-block;
}
.rule_list button {
  color: #0FFF0C ;
  font-size: 1vw ;
}
.rule_list input[type="checkbox"] {
  width: 1.5vw ;
  height: 1.5vw ;
  margin-right: 1.5vw ;
}
.rule_list {
  padding-left: 10% ;
  padding-right: 10% ;
}


/*Regles*/
.regles {
  padding-left: 50px ;
  padding-right: 50px ;
  padding-top: 10px ;
  text-align: justify ;
}
.regles a span {
  display: none ;
}
.regles a:hover span {
  display: block ;
  text-align: center ;
}
.regles a:link {
  color: #0FFF0C;
  font-weight: 400 ;
  text-decoration-style: double ;
}


/*Boutons icons*/
button {
  background-color: #8f0000 ;
  border: none ;
}
button img {
  width: 5vw ;
  height: 5vw ;
}
menu {
  display: inline-flex;
  position: absolute ;
  left: 0 ;
  top: 0 ;
}
.js_link_home, .js_link_intro { /*Bouton Quitter*/
  position: absolute ;
  right: 0 ;
  top: 0 ;
}


/*Connexion Inscription*/
.btConnectInscr input {
  box-shadow: none ;
  background-color: #8f0000 ;
  color: white;
  font-size: 2.5vw ;
  border: 2px solid white ;
  border-radius : 7px;
}


/*Compte*/
.score {
  border: 3px solid white ;
  margin-left: 30% ;
  margin-right: 30% ;
  margin-bottom: 2% ;
  padding: 1% ;
  background-color: #aa3e3e ;
}
.blockForm {
  display: block ;
}
.scoreAffiche div, .scoreAffiche strong {
  display: inline-block;
}





#countdown {
position: absolute;
height: 40px;
width: 40px;
text-align: center;
}

#countdown-number {
color: black;
display: inline-block;
line-height: 40px;
font-weight: bold;
}

svg {
position: absolute;
right: 0;
width: 40px;
height: 40px;
transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
stroke-dasharray: 113px;
stroke-dashoffset: 0px;
stroke-linecap: round;
stroke-width: 4px;
stroke: black;
fill: none;
animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
from {
  stroke-dashoffset: 0px;
}
to {
  stroke-dashoffset: 113px;
}
}